<div class="container center" style="width: 50%;">

  <div class="reviews-index-scroll">
    <% @reviews.reverse.each do |review| %>
      <div class="inner">
        <br>
        <p><i><strong>"<%= review.comments %>"</strong></i></p>
        Campsite: <strong><%= link_to review.campsite.sitename, campsite_path(review.campsite.id)%></strong>
        <br>Rating: <%= review.rating %> out of 5
        <br>Submitted by <strong><%= link_to review.user.username, review.user %></strong> on <%= review.created_at.advance(:hours => -5).strftime("%A, %B %e, %l:%m %P EST") %><br>
      </div>
    <% end %>
  </div>
  <br>
</div>
