<div class="container">

  <%= form_tag campsites_path, method: :get do %>
    <%= text_field_tag :namequery, params[:namequery], :class => "search-box" %>
    <%= submit_tag "Search by name", name: nil, :class => "btn btn-success" %>
    <%= link_to 'Clear', campsites_path, class: "btn btn-danger" %>
    <%= link_to_function "Back", "history.back()", class: "btn btn-warning" %>
  <% end %>

  <br>

  <div class="inner">
    <table class="table">
      <thead>
        <tr>
          <th>Campsite</th>
          <th>Nearest Town</th>
          <th>State</th>
          <th>Reviews</th>
          <th>Average Rating</th>
        </tr>
      </thead>
      <tbody>
        <% @campsites.each do |campsite| %>
          <tr>
            <td><%= link_to campsite.sitename, campsite %></td>
            <td><%= campsite.nearesttown %></td>
            <td><%= campsite.state %></td>
            <td>
              <% if campsite.reviews.count > 0 %>
                <%= link_to "Read #{campsite.reviews.count} Review(s)", campsite_path(campsite), class: "btn btn-success btn-xs" %>
              <% else %>
                <%= link_to "Be the first to review!", campsite %>
              <% end %>
            </td>
            <td><strong><%= number_with_precision(campsite.reviews.average(:rating), significant: true)%></strong></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @posts %>

    <br>

  </div>
</div>

<br>


