<div class="container">
	<div class="row">
		<div class="col-md-6 left">
			<div class="inner">
				<h1><%= @campsite.sitename %></h1>
				<% if @campsite.reviews.count > 0 %>
					<p><strong>Average Rating: <%= number_with_precision(@campsite.reviews.average(:rating), significant: true)%></strong></p>
					<p><strong>Reviews: <%= @campsite.reviews.count %></strong></p>
				<% end %>
				<% if @campsite.nearesttown %>
					<% if @campsite.distancefromnearesttown %>  
						<p><strong>Located <%= @campsite.distancefromnearesttown %> miles from <%= @campsite.nearesttown %>, <%= @campsite.state %></strong></p>
					<% else %>
					<p><strong>Located nearest <%= @campsite.nearesttown %>, <%= @campsite.state %></strong></p>
					<% end %>
				<% end %>

				<% if @campsite.numberofsites %>
					<p><strong>Contains <%= @campsite.numberofsites %> campsites.</strong></p>
				<% end %>

				<% if @campsite.phone %>
					<p><strong>Phone: <%= @campsite.phone %></strong></p>
				<% end %>

				<% if @campsite.reviews.count > 0 %>
					<% if user_signed_in? %>
						<p><%= link_to "Write a Review", new_campsite_review_path(@campsite, :campsite_id => @campsite.id), class: "btn btn-success" %></p>
					<% else %>
						<p><%= link_to "Write a Review", new_user_session_path, class: "btn btn-success" %></p>
					<% end %>
				<% end %>

				</div>
				<% if @campsite.reviews.count > 0 %>
						<div class="campsite-show-reviews-scroll">
							<% @campsite.reviews.reverse.each do |review| %>
								<div class="inner">
									<br>
									<p><i><strong>"<%= review.comments %>"</strong></i></p>
									Campsite: <strong><%= link_to review.campsite.sitename, campsite_path(review.campsite.id)%></strong>
									<br>Rating: <%= review.rating %> out of 5
									<br>Submitted by <strong><%= link_to review.user.username, review.user %></strong> on <%= review.created_at.advance(:hours => -5).strftime("%A, %B %e, %l:%m %P EST") %><br>
								</div>
							<% end %>
						</div>
				<% end %>
				<% if @campsite.reviews.count == 0 %>
					<div class="inner">
						<br>
						<p>Have you been to <%= @campsite.sitename %>?</p>
						<p>Help us out and be the first to tell us how it was!</p>
						<% if user_signed_in? %>
							<p><%= link_to "Write a Review", new_campsite_review_path(@campsite, :campsite_id => @campsite.id), class: "btn btn-success" %></p>
						<% else %>
							<p><%= link_to "Write a Review", new_user_session_path, class: "btn btn-success" %></p>
						<% end %>
					</div>
				<% end %>
			</div>

		<div class="col-md-6 right">
			<br><p><%= link_to_function "Return to previous page", "history.back()", class: "btn btn-warning" %></p><br>
						
			<iframe
				width="550"
				height="450"
				frameborder="0" style="border:0"
				src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCJuN7LyRB9OXNIyUlsZUCJRDSqE1jzGQs
				&q=<%= @campsite.latitude %>, <%= @campsite.longitude %>">
			</iframe>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 left">

		</div>
	</div>
</div>

