<p id="notice"><%= notice %></p>

<div class="container">
	<h1><%= @campsite.sitename %></h1>
	<div class="row">
		<div class="col-md-6 left">			
			<% if @campsite.nearesttown %>
				<% if @campsite.distancefromnearesttown %>  
					<p>Located <%= @campsite.distancefromnearesttown %> miles from <%= @campsite.nearesttown %>, <%= @campsite.state %></p>
				<% else %>
					<p> Located nearest <%= @campsite.nearesttown %>, <%= @campsite.state %></p>
				<% end %>
			<% end %>
			<% if @campsite.numberofsites %>
				Contains <%= @campsite.numberofsites %> campsites.
			<% end %>
			<% if @campsite.phone %>
				Phone: <%= @campsite.phone %>
			<% end %>
		</div>
		<div class="col-md-6 right">
			<%= link_to "Write a Review", new_campsite_review_path(@campsite, :campsite_id => @campsite.id), class: "btn btn-success" %>
			<%= link_to_function "Return To Search Results", "history.back()", class: "btn btn-warning" %>
		</div>
	</div>
</div>

<div class="container center">

	<iframe
  width="1100"
  height="550"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCJuN7LyRB9OXNIyUlsZUCJRDSqE1jzGQs
    &q=<%= @campsite.latitude %>, <%= @campsite.longitude %>">
</iframe>

</div>

<div class="container">
	<h1> Reviews </h1>
	<% @campsite.reviews.each do |review| %>
		Rating: <%= review.rating %><br>
		Comments: <%= review.comments %><br>
		Submitted by: <%= review.user.username %><br>
	<% end %>

</div>

